{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- shuhua -->
<!-- 都拉取 -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> -->
<!-- 只要斜体 -->
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,700&display=swap" rel="stylesheet">

<!-- 中文 -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap" rel="stylesheet">
<link
href="https://fonts.googleapis.com/css2?
  family=Zhi+Mang+Xing
  &family=Ma+Shan+Zheng
  &family=Yuji+Syuku
  &display=swap"
rel="stylesheet">


<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<!-- <link rel="stylesheet" href="{{ base_path }}/assets/css/main.css"> -->
 <!-- <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}"> -->

{% if site.github.build_revision %}
  {% assign cssver = site.github.build_revision %}
{% else %}
  {% assign cssver = site.time | date: "%s" %}
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?v={{ cssver }}">


<!-- <script src="{{ base_path }}/assets/js/_main.js"></script> -->



<meta http-equiv="cleartype" content="on">