/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: var(--global-bg-color);
  height: fit-content;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: var(--global-border-color);
    width: 100%;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.5em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  background-color: var(--global-bg-color);
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

/* 让除了 Home 之外的导航项与右侧正文对齐 */
@include breakpoint($large) {
  .masthead .greedy-nav .visible-links > li:first-child + li {
    /* 下面这个数= sidebar宽度 + sidebar和正文之间的gap
       你需要按你页面实际宽度改一下，比如 240px/260px/280px 等 */
    padding-left: 75px;
  }

  .greedy-nav .visible-links {
    
    /* 核心：只给左边加边距 */
    /* 这里的 260px 就是 Home 和 Research 之间的那段空白距离 */
    /* 增加这个数字 -> Research 往右跑 */
    /* 减小这个数字 -> Research 往左跑 (靠近 Home) */
    margin-left: 65px !important; 
    
  }
}

// @include breakpoint($large) {
  
//   /* 也就是 Research, CV 等菜单的容器 */
  
// }